i.icon-black {
  color: black; }

nav .brand-logo {
  color: black;
  font-family: "Kaushan Script", cursive;
  padding-left: 20px; }

nav ul a {
  color: black;
  font-family: "Roboto", sans-serif; }

.material-icons {
  color: black; }
